<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title color="tertiary">PopOver</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)" color="warning">
        <!--    <p>{{ roleMsg }}</p> -->
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" expand="block">
  <ion-button (click)="presentPopover($event)" expand="block" color="warning">
    Click me
  </ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="presentPopover($event)" color="warning">
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>
