<app-header titulo="GitHub"></app-header>


<ion-content>
  <ion-card >
    <ion-item class="ion-padding">
      <ion-icon name="logo-github"></ion-icon>
      <ion-label> GitHub Mio</ion-label>
    </ion-item>
      <img alt="QRGH" src="/assets/QR-GITHUB.png" width="" />
  </ion-card>
  <ion-card >
    <ion-item class="ion-padding">
      <ion-icon name="map-outline"></ion-icon>
      <ion-label> My Ubicación</ion-label>
    </ion-item>
      <img alt="myUbi" src="/assets/ubiHome.png" width="" />
  </ion-card>
</ion-content>
