<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="pelis">
      <ion-icon name="videocam-outline"></ion-icon>
      <ion-label>Movie</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="botones">
      <ion-icon name="radio-button-on-sharp"></ion-icon>
      <ion-label>Botones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="deslizantes">
      <ion-icon name="cube-sharp"></ion-icon>
      <ion-label>Deslizante/cubic</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
