<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="person"></ion-back-button>
    </ion-buttons>

    <ion-title color="person">Desplazables</ion-title>
  </ion-toolbar>

  <ion-segment value="" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="">
      <ion-label>Todos</ion-label>
    </ion-segment-button>

    <ion-segment-button value="CD Comics">
      <ion-label>CD Comics</ion-label>
    </ion-segment-button>

    <ion-segment-button value="Marvel Comics">
      <ion-label>Marvel-Comics/Editorial</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content class="ion-padding">
    <ion-list>
    <ion-item
      *ngFor="let heroe of (superHeroes | async) | filtro:publicado:'publisher'"
      color="person"
      class="ion-padding animate__animated animate__fadeIn animate__faster"
    >
      <ion-label
        ><h3>{{heroe.superhero}}<small>{{heroe.alter_ego}}</small></h3>
        <p>{{heroe.first_appearance}}</p>
      </ion-label>
      <ion-label slot="end" class="ion-text-right"
        >{{heroe.publisher}}</ion-label
      >
    </ion-item>
  </ion-list>
<!-- ----------------------------------skeleton ---------------------------------------->
  <ion-list *ngIf="(superHeroes | async ) === null">
    <ion-item
      *ngFor="let i of [1,1,1,1,1,1,1]"
      color="person"
      class="ion-padding"
    >
      <ion-label
        ><h3>
          <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        </p>
      </ion-label>
      <ion-skeleton-text slot="end" animated style="width: 40px"></ion-skeleton-text>
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="false"></ion-skeleton-text>
      </ion-thumbnail>
    </ion-item>
  </ion-list>

  <ion-title class="ion-text-center my" color="google"
    >Segmento customizado</ion-title
  >
  <ion-segment [scrollable]="true" value="heart" class="my">
    <ion-segment-button value="home">
      <ion-icon name="home" color="facebook"></ion-icon>
    </ion-segment-button>

    <ion-segment-button value="heart">
      <ion-icon name="heart" color="google"></ion-icon>
    </ion-segment-button>

    <ion-segment-button value="pin">
      <ion-icon name="pin" color="instagram"></ion-icon>
    </ion-segment-button>

    <ion-segment-button value="star">
      <ion-icon name="star" color="danger"></ion-icon>
    </ion-segment-button>

    <ion-segment-button value="call">
      <ion-icon name="call" color="warning"></ion-icon>
    </ion-segment-button>

    <ion-segment-button value="globe">
      <ion-icon name="globe" color="secondary"></ion-icon>
    </ion-segment-button>

    <ion-segment-button value="basket">
      <ion-icon name="basket" color="tertiary"></ion-icon>
    </ion-segment-button>

    <ion-segment-button value="barbell">
      <ion-icon name="barbell" color="vimeo"></ion-icon>
    </ion-segment-button>

    <ion-segment-button value="trash">
      <ion-icon name="trash" color="input"></ion-icon>
    </ion-segment-button>

    <ion-segment-button value="person">
      <ion-icon name="person" color="person"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <ion-segment value="custom" class="my">
    <ion-segment-button value="custom">
      <ion-label>Custom</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment">
      <ion-label>Segment</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-segment color="danger" value="danger" class="my">
    <ion-segment-button value="danger">
      <ion-label>Danger</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment">
      <ion-label>Segment</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-segment value="custom" class="ultimo">
    <ion-segment-button value="custom">
      <ion-label>Custom</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment">
      <ion-label>Segment</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-content>
